[Desktop Entry]
Name=RRemote
GenericName=Remote Desktop
Comment=RRemote - 免费远程桌面控制软件
Exec=rremote %u
Icon=rremote
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=remote-control;remote-desktop;RRemote;
Actions=new-window;
StartupWMClass=rremote

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=rremote %u
