[Desktop Entry]
Name=RRemote
NoDisplay=true
MimeType=x-scheme-handler/rremote;
TryExec=rremote
Exec=rremote %u
Icon=rremote
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rremote
